<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Cosmic</key>
	<string>https://drive.google.com/uc?export=download&amp;id=1Uu34Oh9KbDH4y4eXpUI56WAIWWzrXdkE</string>
	<key>Constellation</key>
	<string>https://drive.google.com/uc?export=download&amp;id=15wr10NaUlmFmd-lnC0CqQ6GmIjSyMkmi</string>
	<key>Ripples</key>
	<string>https://drive.google.com/uc?export=download&amp;id=1pMFi-XY70VAnfTqApzB7utnnBBycYdwg</string>
	<key>Slow Rise</key>
	<string>https://drive.google.com/uc?export=download&amp;id=14qcSeWXwNL2yqvf9cvbUVHhOmA8ur_ZZ</string>
</dict>
</plist>
